In [1]:
## Có thể gọi các class chi tiết trong thư viện thay vì sử dụng cấp cao nhất là Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener

/opt/conda/envs/quant/lib/python3.12/site-packages/vnai/scope/profile.py:562: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [3]:
quote = Quote(symbol='ACB', source='VCI')
df = quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115
300 2025-03-20  22.06  22.10  21.85  21.93   4867372

[301 rows x 6 columns]

In [4]:
quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115
300 2025-03-20  22.06  22.10  21.85  21.93   4867372

[301 rows x 6 columns]

In [9]:
from vnstock import Vnstock
crypto = Vnstock().crypto(symbol='BTC', source='MSN')
crypto.quote.history(start='2023-01-01', end='2024-12-31')

,time,open,high,low,close,volume
150,2023-01-19,5.564933e+08,5.671033e+08,5.402015e+08,5.440736e+08,789087937240197
151,2023-02-18,6.211925e+08,6.554524e+08,6.169710e+08,6.460262e+08,1087644551096626
152,2023-03-20,7.092440e+08,7.479299e+08,7.076191e+08,7.373611e+08,993260966085829
153,2023-04-19,7.744522e+08,8.013080e+08,7.667142e+08,7.993948e+08,512298964686334
154,2023-05-19,7.206086e+08,7.223147e+08,6.946643e+08,7.056334e+08,400332839313582
155,2023-06-18,6.923916e+08,7.039815e+08,6.883368e+08,6.971778e+08,291652100607874
156,2023-07-18,7.955047e+08,7.977866e+08,7.806767e+08,7.927766e+08,348189624435892
157,2023-08-17,7.670883e+08,7.684795e+08,7.547994e+08,7.547994e+08,393135952534810
158,2023-09-16,6.977864e+08,7.058514e+08,6.900779e+08,6.997554e+08,301894091760713
159,2023-10-16,7.063120e+08,7.176506e+08,7.052570e+08,7.142446e+08,186668515664254
160,2023-11-15,9.596610e+08,9.665397e+08,9.190757e+08,9.345689e+08,627401998675715
161,2023-12-15,1.127770e+09,1.141093e+09,1.098391e+09,1.131444e+09,672664186619466
162,2024-01-14,1.125540e+09,1.136985e+09,1.116722e+09,1.126669e+09,541787726605872
163,2024-02-13,1.270098e+09,1.322276e+09,1.255618e+09,1.313801e+09,907596202689370
164,2024-03-14,1.879837e+09,1.936518e+09,1.875944e+09,1.921950e+09,1267893296166994
165,2024-04-13,1.842474e+09,1.873016e+09,1.716072e+09,1.767117e+09,1160512315785299
166,2024-05-13,1.598748e+09,1.625694e+09,1.594516e+09,1.615970e+09,362924481424800
167,2024-06-12,1.827923e+09,1.829011e+09,1.738918e+09,1.770698e+09,976080153611329
168,2024-07-12,1.518181e+09,1.559457e+09,1.502152e+09,1.508057e+09,754957825443490
169,2024-08-11,1.601055e+09,1.616394e+09,1.585442e+09,1.602753e+09,414083634274996
170,2024-09-10,1.442495e+09,1.526366e+09,1.435830e+09,1.499500e+09,910386693166232
171,2024-10-10,1.633940e+09,1.643857e+09,1.586154e+09,1.593188e+09,727691494194271
172,2024-11-09,1.996093e+09,2.031593e+09,1.989411e+09,2.012993e+09,1451041011752900
173,2024-12-09,2.627747e+09,2.666617e+09,2.597493e+09,2.662305e+09,1160419024131013

In [7]:
from vnstock.explorer.msn.listing import Listing
Listing().search_symbol_id('USD')

,symbol,symbol_id,exchange_name,exchange_code_mic,short_name,friendly_name,eng_name,description,local_name,locale
0,USD,a2521h,NYSE ARCA,ARCX,ProShares:Ult Semicond,ProShares:Ult Semicond,ProShares Ultra Semiconductors,,ProShares Ultra Semiconductors,en-us
1,USD,aaa5bh,Australia,XASX,BetaShares US Dollar ETF,BetaShares US Dollar ETF,BetaShares US Dollar ETF,,BetaShares US Dollar ETF,en-au
2,SPCRR2B10BCCOUSD,bkn7u2,,INDX_24HRS-SP,S&P Col USD2 Bil and USD10 Bil,S&P Col USD2 Bil and USD10 Bil,S&P Col USD2 Bil and USD10 Bil,,S&P Col USD2 Bil and USD10 Bil,en-us
3,SPCRR1B5BCCOUSD,bkn7a2,,INDX_24HRS-SP,S&P Col USD1 Bil and USD5 Bil,S&P Col USD1 Bil and USD5 Bil,S&P Col USD1 Bil and USD5 Bil,,S&P Col USD1 Bil and USD5 Bil,en-us
4,WITWNNTUU_T,bxzvkr,,INDX_DEFAULT-FTSE,FTSE Taiwan USD Net Return Index USD End of Day,FTSE Taiwan USD Net Return Index USD End of Day,FTSE Taiwan USD Net Return Index USD End of Day,,FTSE Taiwan USD Net Return Index USD End of Day,en-gb
5,SPCRU2BRLAUSD,c4yww7,,INDX_DEFAULT-SP,S&P Latin America Under USD2 Billion (USD),S&P Latin America Under USD2 Billion (USD),S&P Latin America Under USD2 Billion (USD),,S&P Latin America Under USD2 Billion (USD),en-us
6,AWE7EMG1U,bufsgh,,INDX_24HRS-FTSE,79% FTSE Emerging + 19% EMGBI + 2% USD_1M_ED P...,79% FTSE Emerging + 19% EMGBI + 2% USD_1M_ED P...,79% FTSE Emerging + 19% EMGBI + 2% USD_1M_ED P...,,79% FTSE Emerging + 19% EMGBI + 2% USD_1M_ED P...,en-gb
7,SPCRR2B10BCJPUSD.TR,cdmn6h,,INDX_DEFAULT-SP,S&P Japan Between USD2 Billion and USD10 Billi...,S&P Japan Between USD2 Billion and USD10 Billi...,S&P Japan Between USD2 Billion and USD10 Billi...,,S&P Japan Between USD2 Billion and USD10 Billi...,en-us
8,SPCRR2B10BCJPUSD.NTR,cdmn3m,,INDX_DEFAULT-SP,S&P Japan Between USD2 Billion and USD10 Billi...,S&P Japan Between USD2 Billion and USD10 Billi...,S&P Japan Between USD2 Billion and USD10 Billi...,,S&P Japan Between USD2 Billion and USD10 Billi...,en-us
9,AWE4EGU4U,bufqqh,,INDX_24HRS-FTSE,49% FTSE Emerging + 49% EMUSDGBI + 2% USD_1M_E...,49% FTSE Emerging + 49% EMUSDGBI + 2% USD_1M_E...,49% FTSE Emerging + 49% EMUSDGBI + 2% USD_1M_E...,,49% FTSE Emerging + 49% EMUSDGBI + 2% USD_1M_E...,en-gb

In [10]:
index = Vnstock().world_index(symbol='DJI', source='MSN')
index.quote.history(start='2023-01-01', end='2024-12-31')

          time      open      high       low     close     volume
138 2023-07-24  35230.79  35463.97  35230.79  35411.24  286173242
139 2023-07-25  35421.49  35527.57  35365.26  35438.07  309326664
140 2023-07-26  35345.99  35633.61  35306.27  35520.12  347334097
141 2023-07-27  35558.79  35645.35  35216.58  35282.72  352233629
142 2023-07-28  35443.49  35565.51  35355.15  35459.29  369000609
..         ...       ...       ...       ...       ...        ...
498 2024-12-25  42916.48  43297.65  42871.76  43297.03  -99999902
499 2024-12-26  43201.85  43373.98  43115.09  43325.80  270359363
500 2024-12-27  43142.37  43238.85  42761.56  42992.21  376962934
501 2024-12-30  42863.86  42863.86  42263.51  42573.73  383300069
502 2024-12-31  42636.70  42779.69  42421.29  42544.22  359219218

[365 rows x 6 columns]